.home {
  position: relative;
  min-height: 895px;
  padding: 175px 150px;
}

.home-heading {
  font-size: 55px;
  color: #01996d;
  font-family: Georgia, serif;
  margin-bottom: 30px;
  font-weight: 700;
}

.home-text {
  line-height: 144.5%;
}

.home-text + * {
  margin-top: 43px;
}

.home-btn {
  display: inline-block;
  min-height: 51px;
  line-height: 51px;
}
.home-bg-img {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  background-color: rgb(245, 245, 245);
  width: 100%;
  height: 100%;
}
.home-bg-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 998px) {
  .home {
    padding: 10px;
    max-width: 100vw;
    min-height: unset;
    padding: 175px 150px;
  }
  .home-content {
    min-width: 300px;
  }
  .home-bg-img {
    opacity: 0.5;
  }

  .home-heading {
    font-size: 45px;
    line-height: 1.2;
    min-width: 300px;
  }
  .home-text {
    max-width: 450px;
    min-width: 300px;
  }
}
@media (max-width: 498px) {
  .home {
    padding: 5px;
  }
  .home-heading {
    font-size: 28px;
    line-height: 1;
  }
  .home-text {
    max-width: 100%;
  }
}
